:root {
    --primary-color: #fff;
    --secondary-color: black;
}

.map-button{
    background-color:#fff;
    border:2px solid #fff;
    border-radius:3px;
    box-shadow:0 2px 6px rgba(0,0,0,.3);
    color:rgb(25,25,25);
    cursor:pointer;
    font-family:Roboto,Arial,sans-serif;
    font-size:16px;
    line-height:38px;
    margin:8px 0 22px;
    padding:0 5px;
    text-align:center;
}

.invalid-box{
    background-color:#fff; color:red; font-family:Roboto,Arial,sans-serif;font-size:16px;line-height:38px; margin:8px 0 22px;padding:0 5px;text-align:center;
}

.dark-mode {
    --primary-color: #22202f;
    --secondary-color: #fff;
}

.fa-moon{
    color:#22202f;
}

*, ::before, ::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

main {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
}
  
.search-bar form {
    display: flex;
}
  
.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
  
.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
  
.account a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    padding: 125px 50px 50px;
    flex-grow: 1;
}

footer {
    bottom: 0; left: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    /*border-radius: 20px 20px 0 0;*/
    transition: background 0.3s linear;
}

.container {
    max-width: 1240px;
    padding: 1% 1%;
    margin: auto;
}

.content_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profil {
    margin-right: 2%;
}

.profil .logo_area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profil .logo_area img{
    border-radius: 25%;
    border: 1px solid var(--primary-color);
}

.logo_area .logo_name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--secondary-color);
}

.logo_area button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.logo_area .light-mode {
    color: #fff;
    font-size: 22px;
}

.desc_area {
    max-width: 320px;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.desc_area p {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 28px;
}

.service_area {
    display: flex;
}

.service_header {
    margin-right: 20px;
}

.service_header_last {
    margin-right: 20px;
}

li.service_name {
    color: var(--secondary-color);
    font-weight: 600;
}

.service_header li a {
    color: var(--secondary-color);
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header_last li a {
    color: var(--secondary-color);
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header li a:hover {
    color: #313131;
}

.service_header_last li a:hover {
    color: #313131;
}

.service_header li {
    margin-bottom: 10px;
}

.service_header_last li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.875rem;
}

.copy_right {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.copy_right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

#map {
	height: 524px;
	width: 950px;  
}

.row{
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-left: 30px;
}

.column{
    display: table-cell;
    height: 524px;
}

.sideBar{
    position: absolute;
    width: 90px;
	left:0;
    background-color: #22202f;
    z-index: 2;
}


.menuButton{
    border-radius: 100%;
    border:#e94560 solid 1px;
    color:white;
    background-color: rgba(0, 0, 0, 0);
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 3;
    transition: all 0.2s;
}

.menuButton:hover{
    border:#e94560 solid 1px;
    color:#e94560;
    background-color: rgba(53, 53, 53, 0);
    width: 32px;
    height: 32px;
    transition: all 0.2s;
	cursor:pointer;
}

.horizontalMenu {
	background-color: #22202f;
	height: 65px;
	border-radius: 15px;
	width: 350px;
	margin:auto;
	text-align:center;
}

.horizontalMenu .menuButton{
	width: 50px;
    height: 50px;
	margin: 10px;
}

.horizontalMenu .menuButton:hover{
	width: 53px;
    height: 53px;
}

.rectangular {
	border-radius:0;
	width:125px !important;
	height:40px !important;
}

.rectangular:hover {
	width:127px !important;
	height:42px !important;
}

#sideBarContent{
    padding: 50px 15px 15px 15px;
	width: 250px;
    height:524px;
    color:white;
}

.visible{
    left:30px;
    transition: left ease-out 0.5s;
}

.hidden{
    left:-500px;
    transition: left ease-in 0.5s;
}

#searchDetailsSideBar{
    visibility : collapse;
}

#selectedParkingTable{
	border-collapse: collapse;
}

#selectedParkingTable td, #selectedParkingTable th{
	border: solid black 1px;
	padding: 5px;
}

#icon_cash, #icon_card{
	width:45px;
	transition : width linear 0.1s;
}

#searchMsgBox{
	color: rgb(56, 24, 201);
	font-weight: bold;
}

.graphsContainer{
	width: 800px;
	margin: auto;
}

#connecte {
    width: 20%;
    margin: auto;
    color: black;
    border: 1px solid green;
    background-color: greenyellow;
    text-align: center;
}

/* Profil */



/* Fin Profil */

/* Donnees Personnelles et Mentions Legales */

.helpcontent {
    padding: 0 30px 0;
    max-width : 1200px;
    margin: 0 auto;
}

.helpcontent h1 {
    color: #f5b027;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    margin: 30px 0 50px;
}

.helpcontent .titlehelp {
    color: inherit;
    font-size : 1.5em;
    font-weight: bold;
    margin: 20px;
}

.helpcontent h2 {
    color: #f5b027;
    font-size: 1.8em;
    font-weight: bold;
    margin: 30px 0 20px;
}

.helpcontent h3 {
    color: inherit;
    font-size : 1.5em;
    font-weight: bold;
    margin: 20px;
}

.helpcontent .idz_btn_fix {
    margin: 0 0 0 20px; /* 20px sur le dernier 0 de base */
    text-align: center;
}

.helpcontent .idz_btn_fix .chat-cta {
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f5b027;
    color: white;
    padding: 0.5em 1.25em;
    text-decoration: none;
    line-height: 1.1;
}

.helpcontent .idz_btn_fix .chat-cta-label {
    display: inline-block;
    font-size: 0.8em;
}

.helpcontent p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 20px 10px 20px;
    text-align: justify;
}

.helpcontent strong {
    font-weight: bold;
}

.helpcontent a {
    color: #333333;
    text-decoration: underline;
}

/* Fin Donnees Personnelles et Mentions Legales */



@media screen and (max-width: 768px) {
    .content_footer {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_header {
        margin-left: 0;
        margin-right: 40px;
    }

    .social_media {
        margin-bottom: 1rem;;
    }

    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*@media screen and (max-width: 480px) {
    .service_header {
        margin-bottom: 8px;
    }

    .copy_right {
        margin-bottom: 8px;
    }
}
A 343px, mettre tous en colonne droit A PROPOS - AIDE - NOTRE GROUPE avec display: block, un petit padding etc.
*/

/* Tableau Resultat */

/* Ne pas le prendre en compte dans la largueur de la page s'il n'est pas affiche avec display: collapse; normalement */

@media screen and (max-width: 768px) {
    #selectedParkingTable,
    #selectedParkingTable tr,
    #selectedParkingTable th,
    #selectedParkingTableRowData,
    #selectedParkingTableRowData td {
        display: block;
    }

    #selectedParkingTable th {
        display : none;
    }

    #selectedParkingTableRowData td{
        padding-left: 150px;
        position : relative;
        margin-top: -1px;
    }

    #selectedParkingTableRowData td::before {
        /*padding: 10px;*/
        content: attr(data-label);
        position: absolute;
        top :0;
        left: 0;
        width: 130px;
        bottom: 0;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    #selectedParkingTable tr {
        margin-bottom: 1rem;
    }
}

