:root {
    --primary-color: #fff;
    --secondary-color: black;
}

.map-button{
    background-color:#fff;
    border:2px solid #fff;
    border-radius:3px;
    box-shadow:0 2px 6px rgba(0,0,0,.3);
    color:rgb(25,25,25);
    cursor:pointer;
    font-family:Roboto,Arial,sans-serif;
    font-size:16px;
    line-height:38px;
    margin:8px 0 22px;
    padding:0 5px;
    text-align:center;
}

.invalid-box{
    background-color:#fff; color:red; font-family:Roboto,Arial,sans-serif;font-size:16px;line-height:38px; margin:8px 0 22px;padding:0 5px;text-align:center;
}

.dark-mode {
    --primary-color: #22202f;
    --secondary-color: #fff;
}

.fa-moon{
    color:#22202f;
}

.fa-sun{
    color:white;
}

*, ::before, ::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

main {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    position: relative;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#user_logo {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    left: 78%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    color: white;
    z-index: 2;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-weight: 500;
    color: white;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu {
    background: #212f3d;
    padding: 20px;
    margin: 10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: white;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
    color: #e74c3c;
}

.sub-menu-link:hover p {
    font-weight: 600;
}

@media (max-width: 1200px) {
    .sub-menu-wrap {
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
    }
}

@media (max-width: 700px) {
    .sub-menu-wrap {
        position: absolute;
        top: 100%;
        transform: translateX(-70%);
    }
}

#connectButton {
    position: relative;
    background-color: #27282c;
    color: #27282c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    transition: 0.5s;
}

#connectButton:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.23em;
    box-shadow: 0 0 20px var(--clr);
}

#connectButton::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #fff;
}

#connectButton span {
    position: relative;
    z-index: 1;
}

#connectButton i {
    position: absolute;
    inset: 0;
    display: block;
}

#connectButton i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#connectButton:hover i::before {
    width: 20px;
    left: 20%;
}

#connectButton i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background-color: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#connectButton:hover i::after {
    width: 20px;
    left: 80%;
}

#disconnectButton {
    position: relative;
    background-color: #fff;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
    transition: 0.5s;
}

#disconnectButton:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.23em;
    border: 3px;
    box-shadow: 0 0 20px var(--clr);
}

#disconnectButton::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

#disconnectButton span {
    position: relative;
    font-size: 1em;
    padding: 2px 5px 2px 5px;
    letter-spacing: 0.2em;
    z-index: 1;
    transition: letter-spacing 0.5s;
}

#disconnectButton:hover span {
    position: relative;
    font-size: 1em;
    padding: 2px 5px 2px 5px;
    letter-spacing: 0.34em;
    z-index: 1;
}

#disconnectButton i {
    position: absolute;
    inset: 0;
    display: block;
}

#disconnectButton i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#disconnectButton:hover i::before {
    width: 20px;
    left: 20%;
}

#disconnectButton i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#disconnectButton:hover i::after {
    width: 20px;
    left: 80%;
}


.search-bar {
    flex: 1;
    margin: 0 20px;
}
  
.search-bar form {
    display: flex;
}
  
.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
  
.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
  
.account a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    padding: 125px 50px 50px;
    flex-grow: 1;
	background-color: white;
}

.dark-mode .content {
	background-color: #39364b;
}

.dark-mode .legendPredict {
    color: white;
}

.dark-mode .inputBox span {
    color: white;
}

.dark-mode h2, .dark-mode h3, .dark-mode strong, .dark-mode p {
    color: white;
}

.dark-mode .smallTransparentText {
    color: #c7c7c7;
}

.dark-mode a {
    color: #c7c7c7;
}

body.dark-mode {
	background-color: #39364b;
}

.dark-mode header {
	background-color: #22202f;
}

.dark-mode header a {
	color: white;
}

.dark-mode #div_error {
	background-color: #22202f;
    display: flex;
}

footer {
    bottom: 0; left: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    /*border-radius: 20px 20px 0 0;*/
    transition: background 0.3s linear;
}

.container {
    max-width: 1240px;
    padding: 1% 1%;
    margin: auto;
}

.content_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profil {
    margin-right: 2%;
}

.profil .logo_area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profil .logo_area img{
    width : 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
}

.logo_area .logo_name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--secondary-color);
}

.logo_area button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.logo_area {
    font-size: 22px;
}

.desc_area {
    max-width: 320px;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.desc_area p {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 28px;
}

.service_area {
    display: flex;
}

.service_header {
    margin-right: 20px;
}

.service_header_last {
    margin-right: 20px;
}

li.service_name {
    color: var(--secondary-color);
    font-weight: 600;
}

.service_header li a {
    color: var(--secondary-color);
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header_last li a {
    color: var(--secondary-color);
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header li a:hover {
    color: #313131;
}

.service_header_last li a:hover {
    color: #313131;
}

.service_header li {
    margin-bottom: 10px;
}

.service_header_last li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.875rem;
}

.copy_right {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.copy_right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

#map {
	height: 524px;
	width: 55%;
    min-height: 524px;
	min-width: 50%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-left: 30px;
}

.row h2 {
    justify-content: center;
}

.column{
    display: table-cell;
    height: 75%;
    width: 100%;
}

.sideBar {
    position: absolute;
    width: 90px;
	left:0;
    background-color: #22202f;
    z-index: 2;
}

.sideBar.column{
    position: absolute;
    width: 90px;
	left:0;
    background-color: transparent;
    z-index: 2;
}

.menuButton {
    text-align: center;
    position: absolute;
    left:0;
    width: 50px;
    border-radius: 0px 30px 30px 0px;
    padding-top: 13px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    transition: all 0.2s;
    color: black;
    background-color: rgb(243, 243, 243);
    border: transparent solid 2px;
}

.menuButton:hover{
    width: 80px;
    transition: all 0.2s;
	cursor:pointer;
	background-color: rgb(255, 255, 255);
}

.dark-mode .menuButton{
    color: white;
    background-color: #22202f;
}

.dark-mode .menuButton:hover{
    background-color: #302e3a;
}

.dark-mode .instruction-wrapper td, .dark-mode .instruction-wrapper th {
	background-color: #22202f;
	color: white;
}

.dark-mode #selectedParkingTable td, .dark-mode #selectedParkingTable th {
	background-color: #22202f;
	color: white;
	border-color: white;
}

.horizontalMenu {
	height: 40px;
	border-radius: 15px;
	width: 350px;
	margin:auto;
	text-align:center;
}

#titleParkSelected {
    text-align: center;
    border: solid 4px black;
    border-radius: 20px;
    background-color: #212f3d;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin: 10px auto;
    color: white;
    box-shadow: 0 0 20px #d52b18;
}


#sideBarContent{
    padding: 50px 15px 15px 15px;
	width: 250px;
    height: 524px;
    background-color: rgb(248, 248, 248);
    color:black;
}

.dark-mode #sideBarContent{
	color: white;
    background-color: #22202f;
}

.visible{
    left:0px;
    transition: left ease-out 0.5s;
}

.hidden{
    left:-500px;
    transition: left ease-in 0.5s;
}

#searchDetailsSideBar{
    visibility : collapse;
    width: 30%;
}

#selectedParkingTable{
	border-collapse: collapse;
}

#selectedParkingTable td, #selectedParkingTable th{
	border: solid black 1px;
	padding: 5px;
}

#icon_cash, #icon_card{
	width:45px;
	transition : width linear 0.1s;
}

#searchMsgBox{
	color: rgb(56, 24, 201);
	font-weight: bold;
}

.graphsContainer{
    display: flexbox;
	width: 800px;
	margin: auto;
}

#connecte {
    width: 20%;
    margin: auto;
    color: black;
    border: 1px solid green;
    background-color: greenyellow;
    text-align: center;
}

/* Profile */

.contentProfilPage {
    background: var(--primary-color);
    margin: 5% 10% 5% 10%;
}

.contentPage {
    width: 50%;
}

.dataProfile h2 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5% 0 0% 0;
}

#lastNameProfile {
    color: var(--secondary-color);
    border-bottom: 1px solid #3fB6A8;
    margin: 2% 0 2% 0;
    width: 50%;
    font-size: 18px;
}

#firstNameProfile {
    color: var(--secondary-color);
    border-bottom: 1px solid #3fB6A8;
    margin: 2% 0 2% 0;
    width: 50%;
    font-size: 18px;
}

#emailProfile {
    color: var(--secondary-color);
    border-bottom: 1px solid #3fB6A8;
    margin: 2% 0 2% 0;
    width: 50%;
    font-size: 18px;
}

/* End of Profile */

/* History */

/* A supprimier apres
.navProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}*/ 


@keyframes animationProfileTime {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 10px 10px 0px #e74c3c;
    }
    100% {
        box-shadow: none;
    }
}

#navProfileTime {
    animation: animationProfileTime 2s infinite;
}

#navProfileTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#212f3d;
    border-radius: 20px;
    width: 50%;
    padding: 20px 20px;
}


#navProfileTime label {
    color: #fff;
}

.date_input {
    padding: 4px;
}

#profileTitle {
    color : white;
}

#signOutProfile:hover {
    opacity: 0.5;
}

#profileTable {
    display: flex;
    width: 100%;
    margin-top: 5%;
    border-style: inset;
}

#profileTable tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profileTable tbody tr {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

#profileTable tbody tr th {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    padding: auto;
}

#profileTableRowData {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

#profileTableRowData td {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    padding: auto;
}

#profileTableLink {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

#profileTableLink td {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    padding: auto;
    text-decoration-line: underline;
    color: black;
    font-weight: bold;
}

#profileTableLink td a {
    color: black;
}

#linkDetailledProfile {
    display: flex;
    width: 100%;
    padding: 1% 0% 0% 0%;
    justify-content: right;
}

#linkDetailledProfile a {
    color: black;
    text-decoration-line: underline;
    font-weight: bold;
}

.dark-mode #linkDetailledProfile a {
    color: #fff;
}

#contentFullHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 250px 100px;
}

#bandeauFullHistory {
    background-color: #22202f;
    width: 100%;
    color:#fff;
    padding: 20px;
    margin-bottom: 15px;
}

#tableFullHistory {
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0,0,0,00.23em);

}

#tableFullHistory tr {
    transition: all 0.2s ease-in;
    cursor: pointer;
}
#tableFullHistory tr:not(#headerTable):hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0,0,0,00.23em);
}

#tableFullHistory th,td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

 #headerTable {
    background-color: #16a085;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #tableFullHistory {
        width: 90%;
    }
}

/* #tableFullHistory td, #tableFullHistory th {
    border: black solid 1px;
    padding: 20px 30px;
    text-align: center;
}

#tableFullHistory {
    border-collapse: collapse;
} */

.detailsButtons {
    position: relative;
    background-color: #27282c;
    color: #27282c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
	margin: 5px;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    transition: 0.5s;
}

.dark-mode .detailsButtons {
	background-color: white;
    color: white;
}

.detailsButtons:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.23em;
    box-shadow: 0 0 20px var(--clr);
	cursor: pointer;
}

.detailsButtons::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #fff;
}

.dark-mode .detailsButtons::before {
	background-color: #22202f;
}

.detailsButtons span, .detailsButtons input {
    position: relative;
	color: black;
    z-index: 1;
	background-color: transparent;
	border: none;
    cursor: pointer;
}

.dark-mode .detailsButtons span, .dark-mode .detailsButtons input {
	color: white;
}

.detailsButtons i {
    position: absolute;
    inset: 0;
    display: block;
}

.detailsButtons i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.dark-mode .detailsButtons i::before{
    background-color: black;
}

.detailsButtons:hover i::before {
    width: 20px;
    left: 20%;
}

.detailsButtons i::after{
	content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background-color: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.dark-mode .detailsButtons i::after{
	background-color: black;
}

.detailsButtons:hover i::after {
    width: 20px;
    left: 80%;
}

#Start_date {
    background: linear-gradient(to right, lightblue, #fffb85);
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

#End_date {
    background: linear-gradient(to right, #fffb85, lightblue);
}

.date_input {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
    font-size: 12px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 4px 20px rgba(3, 44, 41, 0.226);
}

.contentProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
}

#bandeau {
    background-color: #22202f;
    margin: 0;
    padding: 50px 50%;    
}

.cells {
    background-color: #dddfe1;
    border-radius: 20px;
}

.hideBorderCells {
    border: none;
}


#expensesProfileTable:hover {
    box-shadow: 0 0 20px #f5b027;
    transition: box-shadow 1s;
}

/* End of History */

/* Personnal Data */

.helpcontent {
    padding: 0 30px 0;
    max-width : 1200px;
    margin: 0 auto;
}

.helpcontent h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    margin: 30px 0 50px;
}

.helpcontent .titlehelp {
    color: var(--secondary-color);
    font-size : 1.5em;
    font-weight: bold;
    margin: 20px;
}

.helpcontent h2 {
    color: #f5b027;
    font-size: 1.8em;
    font-weight: bold;
    margin: 30px 0 20px;
}

.helpcontent h3 {
    font-size : 1.5em;
    font-weight: bold;
    margin: 20px;
}

.helpcontent .idz_btn_fix {
    margin: 0 0 0 20px; /* 20px sur le dernier 0 de base */
    text-align: center;
}

.helpcontent .idz_btn_fix .chat-cta {
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f5b027;
    color: var(--secondary-color);
    padding: 0.5em 1.25em;
    text-decoration: none;
    line-height: 1.1;

}

.helpcontent .idz_btn_fix .chat-cta-label {
    display: inline-block;
    font-size: 0.8em;
}

.helpcontent p {
    color: var(--secondary-color);
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px 20px 10px 20px;
    text-align: justify;
}

.helpcontent strong {
    font-weight: bold;
}

.helpcontent a {
    color: #333333;
    text-decoration: underline;
}

.dark-mode .helpcontent a {
    color: #fff;
    text-decoration: underline;
}

.smallTransparentText {
    color: #666666;
    font-size:10px !important;
    margin-top:50px;
}

/* End Legal Mention */

@media screen and (max-width: 768px) {
    .content_footer {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_header {
        margin-left: 0;
        margin-right: 40px;
    }

    .social_media {
        margin-bottom: 1rem;;
    }

    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}



@media screen and (max-width: 768px) {
    #selectedParkingTable,
    #selectedParkingTable tr,
    #selectedParkingTable th,
    #selectedParkingTableRowData,
    #selectedParkingTableRowData td {
        display: block;
    }

    #selectedParkingTable th {
        display : none;
    }

    #selectedParkingTableRowData td{
        padding-left: 150px;
        position : relative;
        margin-top: -1px;
    }

    #selectedParkingTableRowData td::before {
        /*padding: 10px;*/
        content: attr(data-label);
        position: absolute;
        top :0;
        left: 0;
        width: 130px;
        bottom: 0;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    #selectedParkingTable tr {
        margin-bottom: 1rem;
    }
}


#whoAreWe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins", sans-serif;
    color: #fff;
}

#whoAreWe .container {
    width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    padding: 1.5rem 0;
    margin: 2rem 0;
    grid-gap: 2rem;
}

.card_data {
    display: flex;
    background-color: #212f3d;
    padding: 3rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.7s ease-in-out;
}

.card_data:hover {
    transform: translateY(-10px);
}

.card_data img {
    border-radius: 5%;
    width: 50%;
    height: 100%;
}

.pro_content {
    padding-left: 1rem;
    font-size: 0.9rem;
}

.pro_content h2 {
    font-size: 1.3rem;
    color: #e74c3c;
}

#whoAreWe .position {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    position: relative;
}

#whoAreWe .position::after {
    content: "";
    background: #ccc;
    position: absolute;
    width: 40%;
    height: 2px;
    top: 20px;
    left: 0;
}

.socials_icons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 80%;
}

.socials_icons span {
    background: #f3f5fa;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.socials_icons span i {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    color: #212f3d;
    transition: all 0.3s;
    padding-top: 0.5rem;
}

.socials_icons span i:hover {
    background: #212f3d;
    color: #fff;
    border-radius: 50%;
}

@media (max-width: 1100px){
    .container{
        max-width: 980px;
        margin: 0 auto;
    }

    #map {
        height: 524px;
        width: 800px;
        min-height: 524px;
	    min-width: 800px;
    }
}

@media (max-width: 962px){
    .container{
        max-width: 650px;
        margin: 0 auto;
    }

    .card_container {
        grid-template-columns: repeat(1,1fr);
    }

    #map {
        height: 524px;
        width: 430px;
        min-height: 524px;
	    min-width: 430px;
    }
}



/*############ DROP DOWN MENU ###########*/

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

.dark-mode table{
    background-color: #22202f;
}

table td {
	padding: 15px;
}

.dark-mode table td {
    border-color: black;
    background-color: #22202f;
}

table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}

.dark-mode table thead td{
    color: black;
    background-color: #22202f;
    background-color: black;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}

.dark-mode table tbody td{
    color: #fff;
    background-color: #22202f;
    border-color: #3b3852;
}

table tbody tr {
	background-color: #f9fafb;
}

.dark-mode table tbody tr {
    color: black;
    background-color: #22202f;
    border-color: black;
}


table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.dark-mode table tbody tr:nth-child(odd) {
	background-color: #22202f;
    color: #fff;
}

/*#######################" ADD TO HISTORY PAGE  #########################*/
.contentAddToHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#bandeauAddToHistory {
    background-color: #22202f;
    width: 100%;
    color:#fff;
    padding: 20px;
    margin-bottom: 15px;
}

#titleAddHistory {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.contentAddToHistory .inputField {
    outline: none;
    padding: 5px 5px;
    margin: 5px 0;
}

span { 
    font-size: 12px;
}

.text-input {
    background-color: #eee;
    border: none;
    text-decoration: none;
    margin: 12px 0;
    padding: 12px 15px;
    width: 100%;
}

.input-container  {
    width: 280px;
    position: relative;
}


.label {
    position: absolute;
    left: 10px;
    top: 3px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
    font-size: 14px;
}

.label::before{
    content: "";
    height: 15px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    z-index: -1;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    border: 2px solid #382f26;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: black;
}

.text-input:focus {
    border: 2px solid #fd7f0a;
}

.text-input:focus + .label {
    top: -4px;
    color: #fd7f0a;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
    animation-delay: 0.2s;
}

#btnAddToHistory {
    padding: 10px 60px;
    background-color: #212f3d;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popupAddToHistory {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: all 0.4s;
    border: black solid 3px;
    z-index: 3;
}

.open-popupAddToHistory {
    z-index: 3;
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popupAddToHistory img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popupAddToHistory h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupAddToHistory button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}